= form_with(model: [@user, @item, @comment], local: true) do |form|
  - if @comment.errors.any?
    #error_explanation
      %h2= #{ pluralize(@comment.errors.count, "error") } prohibited this item from being saved:

      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message

  .field
    = form.text_area :body, id: :comment_body, :placeholder => "本文"
  .actions
    = form.submit yield :submit_label