.row
  %aside.col-md-4
    %section.user_info
      = render 'shared/user_info', user: @user
    %section.stats
      = render 'shared/stats', user: @user
    - if current_user == @user
      %section.stocks
        = render 'shared/user_stocks', items:  @user.stocked_items.recent
      %section.tags_feed
        = link_to "タグフィード", tagfeed_path
      %section.timeline
        = link_to "タイムライン", timeline_path
        %hr
      %section.notification
        = render 'shared/user_notifications', notifications: @user.notifications.recent
        %hr

  .col-md-8
    = render 'follow_form', user: @user if current_user && current_user != @user
    = render 'shared/feed', items: @items
