.row
  %aside.col-md-4
    %section.user_info
      = render 'shared/user_info', user: @user
    %section.stats
      = render 'shared/stats', user: @user
    %section.stocks
      = render 'shared/user_stocks', items: @stocked_items if current_user == @user
  .col-md-8
    = render 'follow_form', user: @user if current_user != @user
    = render 'shared/feed', items: @items

