%h1= @tag_name
= "#{@items.count} 記事"
= "#{@followers} フォロワー"
= render 'follow_form', tag_name: @tag_name if current_user
%ul.list-group
- @items.each do |item|
  %li.list-group-item= link_to "#{item.title}", user_item_path(item.user, item)
