= form_with(model: [user, item], local: true) do |form|
  - if item.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - item.errors.full_messages.each do |message|
          %li #{message}

  .field
    = form.text_field :title, id: :item_title, placeholder: "タイトル", class: 'form-control'
  .field
    = form.text_field :tag_list, id: :item_tag, placeholder: "タグ", class: 'form-control'

  .row
    .col-md-6
      .field
        = form.text_area :body, id: :item_body, placeholder: "本文", class: 'form-control'
    .col-md-6
      .panel.panel-default
        .panel-heading プレビュー
        #preview_by_ajax.panel-body #{markdown(item.body)}
  .actions
    = form.submit (yield :submit_label), class: 'btn btn-primary'
