= link_to @user.email, user_path(@user)
= @item.updated_at.strftime("%Y/%m/%d")
に更新
- if user_signed_in?
  = link_to '編集する', edit_user_item_path(@user, @item)
  = link_to '削除する', [@user, @item], method: :delete, data: {confirm: 'よろしいですか?'} 

%h1.item-title= @item.title

.container
  .item-body= @item.body