= link_to @user.email, user_path(@user)
= @item.updated_at.strftime("%Y/%m/%d")
に更新
- if user_signed_in? && @user == current_user
  = link_to '編集する', edit_user_item_path(@user, @item)
  = link_to '削除する', user_item_path(@user, @item), method: :delete, data: {confirm: 'よろしいですか?'} 

%h1.item-title= @item.title

.container
  .item-body= @item.body
  %hr
  = render :template => "comments/index"
  
  - if user_signed_in?
    = render :template => "comments/new"
  - else
    あなたもコメントしてみませんか :)
    %br
    = link_to 'ユーザー登録', new_user_registration_path, :class => "btn btn-success"
    %br
    すでにアカウントを持っている方は
    = link_to 'ログイン', new_user_session_path, :class => "btn btn-link"

