%header.navbar.navbar-fixed-top
    .container
    = link_to "Qiita", root_path, id: 'logo'
    %nav.nav.navbar-nav.navbar-right
        %ul
        - if user_signed_in?
            %li= link_to 'Qiita に投稿', new_user_item_path(current_user), :class => "btn btn-success"
            %li= link_to 'プロフィール変更', edit_user_registration_path, :class => "btn"
            %li= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "btn"
        - else
            %li= link_to 'ユーザー登録', new_user_registration_path, :class => "btn btn-outline-success"
            %li= link_to 'ログイン', new_user_session_path, :class => "btn btn-link"